:root {
    --white: #fff;
    --navy-blue: #21215c;
    --gray: #525258;
    --smoke: #c0b8b8;
    --light-gray: #7c7777cc;
    --headerHeight: 60px;
    --middleHeight: 300px;
    --footerHeight: 100px;
}

#grid {
    display: grid;
    width: 100%;
    grid-template-columns: 400px 10fr;
    grid-template-rows: (5,200px); 
    background-color: var(--white);
    gap: 10px;
}
#six { 
    grid-area: footer;
    background-color: var(--gray);
    color: var(--white); 
    display:-webkit-inline-flex;
    justify-content: space-between;
    list-style: none;
  }

#leftarea {
    background-color: var(--gray);
}

#rightarea {
    background-color: var(--smoke);
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;

    text-align: right;
    color: var(--white);
    /*background-color: var(--light-gray);*/

}

header {
    display: flex;
    padding-left: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navy-blue);
    color: var(--white);
}

.pageleft {
    padding-right: 10px;
}
a,
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: var(--smoke);
    margin-right: 25px;

}

body {
    margin: 5px ;
    padding: 0px;
}

div.a {
    text-align: left;
}

div.b {
    text-align: center;
}

.borderstyle {
    border-right: solid;
}

/*.container div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.navy {
    background-color: var(--navy-blue);
}

.gray {
    background-color: var(--gray);
}

.smoke {
    background-color: var(--smoke);
}

.container{ display: flex;
flex-wrap: wrap;
}*/
.container { 
    display: grid; 
    grid-template-columns:  repeat(3, 1fr);  
    grid-template-rows: repeat(5,100px); 
    background-color: var(--white);
    gap: 10px; 
    grid-template-areas: 'header header header' 
                         'nav nav nav' 
                         'aside content content' 
                         'aside section section' 
                         'footer footer footer'; 
  }
  .container > div { 
    background-color: var(--navy-blue); 
    font-size: 40px; 
  }   
  #one { 
    grid-area: header; 
  } 
  #two { 
   grid-area: nav; 
  }
  #three { 
    grid-area: aside; 
  }     
  #four { 
    grid-area: content; 
  } 
  #five { 
    grid-area: section; 
  }    
  /*#six { 
    grid-area: footer; 
  }*/
  /* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
      background: #772014;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  }
  