:root {
    --white: #fff;
    --navy-blue: #21215c;
    --gray: #525258;
    --smoke: #c0b8b8;
    --light-gray: #7c7777cc;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

header {
    padding: 60px;
    text-align: left;
    background: var(--navy-blue);
    color: var(--white);
}

nav {
    list-style: none;
    display: flex;
    justify-content:flex-end;
    background-color: var(--gray);
    color: var(--white);
}

nav a {
    list-style: none;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

main {
    display: flex;
}

aside {
    flex: 30%;
    background-color: var(--smoke);
    color: var(--white);
    padding: 20px;
    flex-wrap: wrap;
}

section {
    flex: 70%;
    background-color: var(--light-gray);
    padding: 20px;
}

.sample-img {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: 200px;
    border: 1px solid black;
}

@media screen and (max-width: 992px) {
    header {
        background: #772014;
    }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
    nav {
        background-color: #bb8588;
    }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
    .sample-img {
        background-color: #8ac4ff;
    }
}