:root {
    --white: #fff;
    --navy-blue: #21215c;
    --gray: #525258;
    --border-radius: 50px;

}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: auto;
    justify-content: flex-start;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navy-blue);
    color: var(--white);
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 25px;

}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
}

a,
nav {
    text-align: right;
    color: var(--white);
    background-color: var(--navy-blue);
}

div {
    column-count: 3;
    column-rule-style: solid;
    column-rule-width: 3px;
    column-rule-color: var(--gray);
}